<div class="frame">
    <div id="printable-area">
        <div class="header-div">
          <h2>MSEL Playbook</h2>
          <div class="right-buttons no-print">
            <button
              aria-label="Print MSEL Playbook"
              mat-icon-button
              style="outline: none;"
              title="Print MSEL Playbook"
              (click)="printpage()"
            >
              <mat-icon aria-hidden="false" class="mdi-24px" fontIcon="mdi-printer"></mat-icon>
            </button>
          </div>
        </div>
    <div *ngIf="msel" class="table-container">
      <ng-container *ngFor="let scenarioEvent of pagedScenarioEvents; let i = index">
        <table id="eventDetails" class="page-break">
          <thead>
            <tr>
              <th style="width: 100px;">Title</th>
              <th>{{ getTitleForScenarioEvent(scenarioEvent.id) }}</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let df of allDataFields">
              <tr *ngIf="getScenarioEventValue(scenarioEvent, df.name) && df.name != 'Title'">
                <td style="font-weight:bold;">{{ df.name }}</td>
                <td>{{ removeHtmlTags(getScenarioEventValue(scenarioEvent, df.name)) }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
      <mat-paginator [length]="sortedScenarioEvents.length" [pageSize]="pageSize" [pageSizeOptions]="[1, 5, 10, 20, sortedScenarioEvents.length]" (page)="changePage($event)" class="no-print">
      </mat-paginator>
    </div>
  </div>
  </div>
  