<div class="container">
  <app-topbar
    *ngIf="!hideTopbar"
    [title]="topbarText"
    [topbarView]="TopbarView.STEAMFITTER_HOME"
    [topbarColor]="topbarColor"
    [topbarTextColor]="topbarTextColor"
    [imageFilePath]="topbarImage"
    (urlNavigate)="topBarNavigate($event)"
  ></app-topbar>
  <h2>{{msel.name}} Event Details </h2>
  <div *ngIf="msel">
    <table id="eventDetails">
      <thead>
        <tr>
            <th>Title</th>
            <th>{{getTitleForScenarioEvent(this.scenarioEventId)}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of sortedScenarioEvents">
            <ng-container *ngFor="let df of allDataFields">
                <tr *ngIf="getScenarioEventValue(item, df.name) && item.id === scenarioEventId">
                  <td style="font-weight:bold">{{ df.name }}</td>
                  <td>{{ getScenarioEventValue(item, df.name) }}</td>
                </tr>
            </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>